* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: #0c32af;
    padding: 1em;
    text-align: center;
}

form {
    width: 500px;
    display: grid;
    margin: auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #eee;
    place-content: center;
}

fieldset {
    display: grid;
    gap: 0.5rem;
    padding: 3px;
    margin: 8px;
    border-radius: 0.3rem;
}

legend {
    color: navy;
    font-weight: 500;
}

label {
    text-align: right;
    padding-right: 5px;
}

input, textarea, select {
    padding: 3px;
    margin: 5px;
    font-size: larger;
}

input[type="checkbox"] {
    width: 100px;
    height: auto;
    vertical-align: bottom;
}

button {
    background-color: #0c32af;
    color: #eee;
    border-radius: 0.3rem;
    width: 115px;
    height: 50px;
    font-size: medium;
    font-weight: 400;
    padding: 5px;
    align-self: center; 
    justify-self: center;
}

button:hover {
    background-color: #328ad2;
    color: #fff;
    cursor: pointer;
}

footer {
    display: grid;
    margin: 1rem auto 0;
    padding: 1px;
    place-content: center;
    border-top: 1px solid rgb(0 0 0 / 0.1);
    width: 650px;
    color: grey;
}

.form-item {
    display: grid;
    align-items: center;
    justify-content: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}