:root {
    --border-color: black;
    --border-thickness: 1px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main {
    max-width: 100rem;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-thickness) solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border: var(--border-thickness) solid rgb(0 0 0 / 0.1);
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 3rem;
    border-top: var(--border-thickness) solid var(--border-color);
    text-align: center;
}