* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-color: black;
    --border-thickness: 1px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: darkblue;
}

main {
    max-width: 45rem;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-thickness) solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

ul {
    width: fit-content;
}

aside {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border: var(--border-thickness) solid rgb(0 0 0 / 0.1);
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    left: 140px
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 3rem;
    border-top: var(--border-thickness) solid var(--border-color);
    text-align: center;
}

/*Class selectors*/
.box {
    margin: 1rem;
    border: var(--border-thickness) solid var(--border-color);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}